.container {
    padding-top: 8rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    max-width: 1400px;
    margin: 0 auto;
}